#category-list-wrap {
  background-color: var(--theme-dark-green);
  height: 60px;
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

#category-button {
  background-color: var(--theme-light-brown);
  height: 38px;
  width: fit-content;
  border-radius: 30px;
  color: var(--theme-dark-green);
  border: none;
  padding: 10px;
  font-weight: bold;
  font-size: large;
}
