#footer-wrap {
  background-color: var(--theme-dark-green);
  color: var(--theme-white);
  height: 130px;
  width: 100%;
  position: static;
  bottom: 0;
}

#footer-content {
  margin: 2rem;
  display: flex;
  gap: 50px;
}
#footer-logo {
  display: flex;
  gap: 10px;
  color: var(--theme-light-brown);
  align-items: center;
  font-family: "Permanent Marker";
  font-size: large;
}

#footer-logo img {
  height: 40px;
}
