#nav-wrap {
  background-color: var(--theme-dark-green);
  max-width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 15px;
  align-items: center;
  justify-content: space-between;
}

#nav-with-login {
  position: relative;
}

#logo-wrap {
  width: fit-content;
  display: flex;
  gap: 10px;
  color: var(--theme-light-brown);
  align-items: center;
  font-family: "Permanent Marker";
}

#nav-logo {
  height: 50px;
}

.login-logout-button {
  size: 30px;
  font-size: 40px;
  color: var(--theme-white);
  cursor: pointer;
}

.nav-badge {
  background-color: brown;
  color: var(--theme-white);
  height: 18px;
  width: 18px;
  border-radius: 18px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  position: absolute;
}
