#past-orders-wrap {
  width: 480px;
  margin: 50px;
}
#past-orders-box h3 {
  margin: 0;
}

#past-orders-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 10px;
}

#past-order-item {
  border: 1px solid var(--theme-dark-green);
  border-radius: 10px;
  padding-left: 10px;
  line-height: 0.8;
}

#past-order-date {
  background-color: var(--theme-lightgrey);
  width: fit-content;
  border-radius: 20px;
  padding: 5px;
  font-size: small;
}
