#product-item-wrap {
  width: 280px;
  height: 400px;
  margin: 35px;
  background-color: var(--theme-light-green);
  color: black;
  display: flex;
  flex-direction: column;
}

#product-item-wrap img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

#product-item-text {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

#product-item-text p,
h2,
h3 {
  margin: 10px;
}

#cart-button {
  padding: 10px;
  width: 110px;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 50px;
  color: white;
  background-color: var(--theme-dark-brown);
  align-self: center;
  cursor: pointer;
}
