#user-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 11;
  background-color: var(--theme-light-brown-50);
  color: var(--theme-white);
  border-radius: 10px;
  gap: 15px;
  width: 200px;
}

#user-buttons button {
  padding: 0.5rem;
  font-size: 30px;
  color: var(--theme-white);
}

.link {
  position: relative;
}

#cart-badge,
#notification-badge {
  position: absolute;
  top: 5px;
  left: 30px;
}

#cart-badge h4,
#notification-badge h4 {
  margin: 0;
}
