body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#root {
  --theme-dark-green: rgb(52, 64, 57);
  --theme-medium-green: rgb(200, 208, 195);
  --theme-dark-green-50: rgb(95, 110, 101, 0.5);
  --theme-light-green: rgb(190, 196, 185);
  --theme-light-green-50: rgba(213, 233, 209, 0.5);
  --theme-medium-brown: rgb(224, 192, 159);
  --theme-light-brown: rgb(236, 212, 189);
  --theme-light-brown-50: rgba(236, 212, 189, 0.5);
  --theme-white: rgb(244, 244, 244);
  --theme-lightgrey: rgb(244, 244, 244);

  background-color: var(--theme-white);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  flex: 1;
}

.transparent-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
