body {
  margin: 0;
  min-width: 320px;
}

#root {
  --theme-dark-brown: rgb(97, 64, 30);
  --theme-medium-brown: rgb(224, 192, 159);
  --theme-light-brown: rgb(236, 212, 189);
  --theme-light-brown-50: rgba(236, 212, 189, 0.5);
  --theme-dark-green: rgb(95, 110, 101);
  --theme-dark-green-50: rgb(95, 110, 101, 0.5);
  --theme-medium-green: rgb(200, 208, 195);
  --theme-light-green: rgb(157, 171, 158);
  --theme-light-green-50: rgba(213, 233, 209, 0.5);
  --theme-white: rgb(235, 228, 221);
  background-image: linear-gradient(
    to bottom right,
    var(--theme-light-brown-50),
    var(--theme-light-brown)
  );
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.transparent-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
